[submodule "GameEngineLightWeight/vendor/spdlog"]
	path = GameEngineLightWeight/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameEngineLightWeight/vendor/GLFW"]
	path = GameEngineLightWeight/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "GameEngineLightWeight/vendor/imgui"]
	path = GameEngineLightWeight/vendor/imgui
	url = https://github.com/TheCherno/imgui
