# Binaries
**/bin/
bin-int/
游戏测试素材/

# Hazel files
*.log
*.ini

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
GameEngineLightWeight/vendor/VulkanSDK
Hazelnut/assets/cache
scripts/__pycache__
