# Binaries
**/bin/
bin-int/
游戏测试素材/
需要的东西/
小笔记/

# Hazel files
*.log
*.ini
提交到GitHub.bat

# Visual Studio files and folder
遇到过的问题.docx
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
GameEngineLightWeight/vendor/VulkanSDK
GameEngine-Editor/assets/cache
scripts/__pycache__
scripts/.idea