[submodule "GameEngineLightWeight/vendor/spdlog"]
	path = GameEngineLightWeight/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "GameEngineLightWeight/vendor/GLFW"]
	path = GameEngineLightWeight/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "GameEngineLightWeight/vendor/imgui"]
	path = GameEngineLightWeight/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "GameEngineLightWeight/vendor/glm"]
	path = GameEngineLightWeight/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "GameEngineLightWeight/vendor/yaml-cpp"]
	path = GameEngineLightWeight/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "GameEngineLightWeight/vendor/ImGuizmo"]
	path = GameEngineLightWeight/vendor/ImGuizmo
	url = https://github.com/liujianjie/ImGuizmo
